:root {
	--main-radius: 10px;

	--main-color: #bd3232;
	--main-colorgr: #bd3232;
	--main-colorhv: #bd3232;
	--main-colorscroll: #4f9002ab;
	--sec-color: #0482e3;
	--bg-success: #28a745;
	--bg-warning: #d39e00;
	--bg-danger: #dc3545;
	--bg-info: #17a2b8 !important;
}

html,
body {
	height: 100% !important;
}

.place ::-webkit-input-placeholder {
	color: #FF7F50 !important;
	font-weight: bold;
	font-size: 25px;
}

.all-product {
	margin-left: 3px;
}

.product a {
	color: var(--sec-color);
	font-size: 25px;
	text-decoration: none;
}

.product a p {
	margin-right: 10px;
	text-align: right;
}

.bold {
	font-weight: bold;
}

.bottom-10 {
	margin-bottom: 10px;
}

.content {
	height: 100%;
	padding: 0.5rem 1rem;
	background-color: white;
	color: white;
	font-weight: bold;
	text-align: center;
}

.content-footer {
	padding: 0.5rem 1rem;
	background-color: var(--main-color);
	color: white;
	font-weight: bold;
	text-align: center;
}

.content-product {
	background-color: white;
	margin-right: 0px !important;
}

.card-content {
	padding: 10px;
}

.center {
	text-align: center;
}

/*Container FLEX*/
.flex {
	width: 100%;
	padding-bottom: 10px !important;
	padding-right: 0px !important;
	display: flex;
}

.flex-in {
	width: 100%;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	padding-right: 0px !important;
	display: flex;
}

.enter {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.f-col-1,
.f-col-2,
.f-col-3,
.f-col-4,
.f-col-5,
.f-col-6,
.f-col-7,
.f-col-8,
.f-col-9,
.f-col-10,
.f-col {
	margin-right: 10px;
	overflow: hidden;
	position: relative;
}

.f-col-1 {
	flex: 10%;
}

.f-col-2 {
	flex: 20%;
}

.f-col-3 {
	flex: 30%;
}

.f-col-4 {
	flex: 40%;
}

.f-col-5 {
	flex: 50%;
}

.f-col-6 {
	flex: 60%;
}

.f-col-7 {
	flex: 70%;
}

.f-col-8 {
	flex: 80%;
}

.f-col-9 {
	flex: 90%;
}

.f-col-10 {
	flex: 95%;
}

.f-col {
	flex: 100%;
}

/*Styling Container*/
.f-float {
	box-shadow: 0px 0px 3px #b1b1b1;
	border-radius: 2px;
}

.f-float-round {
	box-shadow: 0px 0px 3px #b1b1b1;
	border-radius: 10px;
}

.f-bordered {
	border: 2px solid #3e3e4a;
	border-radius: 5px;
}

.footer {
	position: relative;
	bottom: 0px;
	width: 100%;
}

.form-balloony {
	-webkit-appearance: menulist-button;
	height: 50px;
	border-radius: 10px;
	padding: 10px;
	width: 100%;
	border: 1px solid var(--main-color);
}

.form-balloony-product {
	width: 50%;
	margin-left: 50%;
	border: 1px solid var(--main-color);
}

.selected-product {
	width: 100%;
}

.form-balloony-product-top {
	-webkit-appearance: menulist-button;
	height: 50px;
	width: 66%;
	padding: 10px;
	border-radius: 10px;
	margin-left: 30%;
	margin-right: 20%;
}

.h-100 {
	height: 100%;
}

.card {
	height: auto;
	width: 100%;
	border: 1px solid #ddd;
}

.head-card {
	background-color: var(--main-color);
	margin-right: 0px;
	padding: 5px;
	text-align: center;
	color: white;
	font-weight: bold;
}

.content-card {
	margin-top: 7px;
	margin-bottom: 7px;
	margin-right: 0px;
	border-radius: 10px;
	padding: 5px;
}

.content-card .label button {
	text-align: left;
	color: black;
}

.content-image-product {
	margin-bottom: 39px !important;
	padding: 15px;
}

.content-image-product .card-img-top {
	height: 300px;
	position: relative;
	z-index: 1;
}

.content-image-product .card {
	transition: .3s;
}

.content-image-product .card::after {
	position: absolute;
	content: '';
	display: block;
	background: rgb(241, 192, 209);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transform: rotate3d(-1, 1, 0, 100deg);
	transition: .4s;
}

.content-image-product .card:hover::after {
	opacity: .2;
	transform: rotate3d(0, 0, 0, 0deg);
}

.nav-btn {
	transition: .3s;
}

.nav-btn::after {
	position: absolute;
	transition: .4s;
	content: '';
}

.nav-btn:hover {
	opacity: 1;
	border: 1.5px solid #3498db !important;
	background-color: rgb(178, 233, 247);
	font-weight: bold;
	font-size: 16px;
}

.pull-right {
	float: right !important;
	margin-left: 5px;
}

.content-container .col-content {
	flex: 70%;
	padding-right: 0px;
}

.padding-place {
	padding-left: 30px !important;
	padding-top: 5px !important;
	padding-right: 20px !important;
}

.kodeproduct {
	font-size: 12px;
}

.label {
	margin-bottom: 5px;
}

.label-product-desc {
	margin-left: 25px;
	font-size: 12px;
	margin-top: -2px;
}

.label-4 {
	font-size: 16px;
	color: var(--tri-collor);
}

.mr-auto {
	margin-right: 20px !important;
}

.left-auto {
	margin-left: 20px !important;
}

.navbar-ballooney {
	background-color: #212529;
	color: white !important;
	opacity: 0.7;
}

.note {
	text-align: center;
	margin-top: 5%;
	margin-left: 5%;
	color: white;
	font-size: 35px;
}

#col-select {
	margin-left: 25%;
}

.coral {
	color: #FF7F50;
}

.notes {
	text-align: center;
	color: white;
	font-size: 50px;
	font-weight: bold;
	letter-spacing: 2px;
	position: relative;
	z-index: 1;
}

.pad-sd {
	padding: 5px !important;
}

.pad-sm {
	padding: 10px !important;
}

.price {
	color: var(--main-color);
	font-weight: bold;
}

.productname {
	font-weight: bold;
	color: #5c5c3d;
}

.pad-content {
	padding-right: 0px;
	margin-right: 20px;
	margin-left: 20px;
}

.oren {
	color: #ff6600;
	font-size: 10px;
}

ul.sub-menu-container {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
	list-style-type: none;
	padding: 0px;
}

ul.sub-menu-container li {
	margin: 0px 10px 2px 0px;
	float: left;
}

ul.sub-menu-container li a {
	margin: 0px;
	padding: 0px;
	color: #6c757d !important;
	text-decoration: none;
	cursor: pointer;
}

ul.sub-menu-container li.item:hover,
ul.sub-menu-container li.item.active {
	margin: 0px 10px 0px 0px;
	color: var(--main-color) !important;
	border-bottom: 2px solid;
}

ul.sub-menu-container li.item a:hover,
ul.sub-menu-container li.item.active a {
	color: var(--main-color) !important;
}

.sep {
	padding: 8px;
}

.search {
	text-align: center;
	color: white;
	margin-top: 40px;
}

.search-home {
	background-color: white;
	width: 100%;
	color: black;
	height: 45px;
	padding-left: 10px;
}

.title {
	font-weight: bold;
	font-size: 25px;
	color: #4d4d33;
}

.title-2 {
	margin-left: 10px;
	font-weight: bold;
	font-size: 25px;
	letter-spacing: 1px;
	color: var(--main-color);
}

.desc-2 {
	margin-right: 20px;
	text-align: right;
	font-size: 16px;
	color: grey;
}

.desc-2 .sorted-box {
	border: 1px solid #fff;
	background-color: transparent;
	color: var(--main-color);
}

.c-base {
	background: var(--main-color) !important;

}

.rounded {
	border-radius: 30px !important;
}

.account-img {
	width: 35px;
	height: 35px;
	z-index: 1;
	padding: 0 !important;
	overflow: hidden;
	margin-top: 5px;
}

.account-img img {
	width: 20px;
	padding-top: 2px;
	height: auto;
}

.account-init {
	margin-left: 25px;
	font-size: 12px;
	color: var(--main-color);
	margin-top: -2px;
}

.account-name {
	margin-bottom: 0px !important;
	margin-left: 35px;
	margin-top: -40px;
	font-weight: bolder;
	color: black;
}

.navbar button {
	width: 123px;
	height: 55px;
	border-radius: 2px;
}

.navbar button a {
	text-decoration: none;
}

.navbar button a label {
	color: black;
	font-size: large;
}

.label .title {
	padding: 0px;
	margin: 0px;
	font-weight: bold;
}

.label .desc {
	text-decoration: underline;
	text-decoration-color: var(--main-colorhv);
}

.header {
	height: 550px;
	position: relative;
}

.header .navbar {
	position: relative;
	z-index: 1;
}

.header-title {
	position: relative;
	z-index: 1;
}

.arrow-back .left-arrow {
	position: relative;
	z-index: 1;
	margin-left: 90%;
	color: white;
	font-size: 50px;
}

.header::after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
	position: absolute;
	bottom: 0;
}

.header-product {
	height: 300px;
	position: relative;
}

.header-product::after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
	position: absolute;
	bottom: 0;
}

.header-product .navbar {
	position: relative;
	z-index: 1;
}

.more-items-forms {
	margin-left: 40%;
	margin-top: -40px;
}

.more-items {
	width: 30%;
	border: 1px solid #ddd;
	color: var(--main-color);
}

.more-items-product {
	margin-left: 35%;
	width: 30%;
	border: 1px solid #ddd;
	color: var(--main-color);
}

.more-items-product>i {
	padding-left: 10px;
}

#topBtn {
	position: fixed;
	right: 25px;
	bottom: 20px;
	display: none;
	width: 50px;
	height: 50px;
	text-align: center;
	color: #fff;
	background-color: var(--main-colorhv);
	line-height: 46px;
}

.image-round-sm {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	top: 50%;
	left: 50%;
	z-index: 1;
	background: #eaeaea;
	transform: translate(-50%, -50%);
}

@media only screen and (max-width: 700px) {
	.header {
		height: 700px;
	}

	.header-product {
		height: 550px;
	}

	.form-balloony-product-top {
		-webkit-appearance: menulist-button;
		padding: 10px;
		width: 90%;
		margin-left: 15px;
		border-radius: 10px;
	}

	.note {
		text-align: center;
		margin-left: 5%;
		color: white;
		font-size: 30px;
	}

	.notes {
		text-align: center;
		margin-top: -40px;
		color: white;
		font-size: 40px;
		font-weight: bold;
		letter-spacing: 1px;
		position: relative;
		z-index: 1;
	}

	#sidebar {
		display: none;
	}

	.content-image-product .card:hover {
		background-color: rgba(253, 121, 168, 0.1);
	}

	.mr-auto {
		margin-right: 5px !important;
	}

	#toggle {
		margin-left: 30px;
		margin-bottom: 30px;
		color: #fff;
		background-color: var(--main-colorhv);
	}

	#topBtn {
		right: 35px;
		bottom: 20px;
		text-align: center;
		color: #fff;
		background-color: var(--main-colorhv);
	}

	#col-select {
		margin-left: 10%;
	}

	.more-items-forms {
		margin-bottom: 5%;
	}

	.more-items {
		width: 40%;
		height: auto;
		border: 1px solid #ddd;
		color: var(--main-color);
	}

	.more-items-product {
		margin-left: 27%;
		width: 50%;
		border: 1px solid #ddd;
	}
}

@media only screen and (min-width: 700px) {
	#toggle {
		display: none;
	}
}
