.modal-notif {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 999;
	background-color: #00000070;
	display: none;
	-webkit-animation-name: animatefade;
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
}

.modal-container {
	width: 500px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 20px #333;
	position: relative;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -15%);
	overflow: hidden;
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
}

.modal-notif-header {
	width: 100%;
	height: auto;
	font-size: 28px;
	/* font-weight: bold; */
	padding: 10px;
	color: #212529;
	background-color: #d2d2d2;
}

.header-success {
	color: #fff !important;
	background-color: #57980a !important;
}

.ok {
	height: 150px;
}

.konfirmasi-modal {
	width: 70px;
	color: white;
	margin-left: 42%;
}

.header-warning {
	color: #212529 !important;
	background-color: #d8d723 !important;
}

.header-fail {
	color: #fff !important;
	background-color: #da3939 !important;
}

.modal-notif-content {
	width: 100%;
	font-size: 18px;
	padding: 15px;
	margin-bottom: 50px;
}

.modal-notif-footer {
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	display: inline-block;
	padding: 10px;
}

@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 15%;
		opacity: 1
	}
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 15%;
		opacity: 1
	}
}

@-webkit-keyframes animatefade {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@keyframes animatefade {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}
