.border-bottom {
	border: none;
}

.c-success {
	background-color: #4a8407;
	color: white;
}


.form-control-login {
	border: none;
	border-bottom: 1px solid black;
	width: 87%;
}

.form-control-d {
	border: none;
	border-bottom: 1px solid #ddd;
	width: 100%;
}

.label-login-head-login {
	font-size: 12px;
	color: #0482e3;
}

.label-login-head {
	font-weight: lighter;
}

.label-login {
	font-weight: lighter;
	font-size: 12px;
}

.login-page {

	background-image: url("../../image/asset/BG blure dark.jpg");
	background-size: cover;
}

.no-border {
	border: none;
	border-bottom: 1px solid;
}


.no-padding {
	margin: 0px !important;
	padding: 0px !important;
}

.pull-right {
	float: right !important;
	margin-left: 5px;
}

.top-7 {
	margin-top: 7px;
}

.top-10 {
	margin-top: 10px;
}

.w100 {
	width: 100%;
}

.w-100 {
	width: 100px !important;
}

.w-800 {
	width: 800px;
}

.card-left {
	height: 400px;
	margin-bottom: 0px !important;
	padding: 20px !important;
	position: relative;
	z-index: 1;
}

.card-left .card-img-left {
	height: 40%;
	z-index: 1;
}

.card-left .title {
	position: relative;
	z-index: 1;
}

.card-left::after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
	position: absolute;
	bottom: 0;
}

.text-info {
	font-size: 14px;
}
